html, body {
    padding: 0;
    margin: 0;
}

.header_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

.brand {
    color: #3cc3b5;
    font-size: 42px;
}

.search_line_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    align-self: center; 
}

.search_line_container input {
    width: 100%;
    height: 32px;
    padding-left: 10px;
    border: 1px solid rgb(166, 174, 175);
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
}

.basket_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
}
c
.basket {
    width: 37px;
    height: 37px;
}

.basket_price {
    font-size: 20px;
    color: #a1a1a1;
}

.nav_menu {
    /* width: 100%; */
    white-space: nowrap;
    background: #4ccfc1;
    color: #fff;
}

.nav_menu ul {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    list-style: none;
    font-family: 'Staatliches', cursive;
}

.nav_menu li {
    text-transform: uppercase;
    text-decoration: none;
}

.cowhide {
    display: flex;
    flex-direction: column;
    background: #3dc6b8;
    color: #fff;
}

.conwide-discription {
    display: flex;
    flex-direction: column;
}

.cowhide h1 {
    text-transform: uppercase;
}

.shop_branded_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px 0;
    justify-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    align-content: center;
}

.featured_headline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background: #3dc6b8;
    color: #fff;
    font-size: 20px; 
    padding-left: 100px;
    font-family: 'Staatliches', cursive;
}

.featured_shops {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px 0;
    justify-items: center;
    justify-content: space-around;
    
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #3cc3b5;
    color: #fff;
}

.footer_name {
    list-style: none;
    padding: 10px;
}

.footer_head {
    text-transform: uppercase;
}

.footer_copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #2da89b;
    color: #fff;
}


  
